.helper-bar  {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-top-right-radius: 5px;
}

.helper-bar-close {
    width: 10px;
    color: white;
    float: right;
    cursor: hand;
}

.column {
    float: left;
    margin-left: 10px;
}

.mage-mode-developer {
    background-image:url('images/Flash-Left-Developer.jpg');
    width: 225px;
    height: 60px;
}

.mage-mode-production {
    background-image:url('images/Flash-Left-Production.jpg');
    width: 225px;
    height: 60px;
}

.mage-mode-default {
    background-image:url('images/Flash-Left-Default.jpg');
    width: 225px;
    height: 60px;
}

.helper-bar-developer {
    background-color: #782B8F;
}

.helper-bar-default {
    background-color: #00A79D;
}

.helper-bar-production {
    background-color: #334982;
}

.env {
    color: white;
    font-size: 24px;
    padding-top: 10px;
}

.env > span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
